In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Детерминированные алгоритмы
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# Метрики
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [2]:
data = pd.read_csv('data/retail_train.csv')
data.head(50)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
5,2375,26984851516,1,826249,2,1.98,364,-0.60,1642,1,0.0,0.0
6,2375,26984851516,1,1043142,1,1.57,364,-0.68,1642,1,0.0,0.0
7,2375,26984851516,1,1085983,1,2.99,364,-0.40,1642,1,0.0,0.0
8,2375,26984851516,1,1102651,1,1.89,364,0.00,1642,1,0.0,0.0
9,2375,26984851516,1,6423775,1,2.00,364,-0.79,1642,1,0.0,0.0
10,2375,26984851516,1,9487839,1,2.00,364,-0.79,1642,1,0.0,0.0
11,1364,26984896261,1,842930,1,2.19,31742,0.00,1520,1,0.0,0.0
12,1364,26984896261,1,897044,1,2.99,31742,-0.40,1520,1,0.0,0.0
13,1364,26984896261,1,920955,1,3.09,31742,0.00,1520,1,0.0,0.0
14,1364,26984896261,1,937406,1,2.50,31742,-0.99,1520,1,0.0,0.0
15,1364,26984896261,1,981760,1,0.60,31742,-0.79,1520,1,0.0,0.0
16,1130,26984905972,1,833715,2,0.34,31642,-0.32,1340,1,0.0,0.0
17,1130,26984905972,1,866950,2,0.34,31642,-0.32,1340,1,0.0,0.0
18,1130,26984905972,1,1022843,2,0.34,31642,-0.32,1340,1,0.0,0.0
19,1130,26984905972,1,1048462,1,1.19,31642,-0.80,1340,1,0.0,0.0
20,1130,26984905972,1,1071333,2,0.34,31642,-0.32,1340,1,0.0,0.0
21,1173,26984945254,1,824399,2,1.98,412,0.00,2042,1,0.0,0.0
22,1173,26984945254,1,923972,1,0.67,412,0.00,2042,1,0.0,0.0
23,1173,26984945254,1,1131351,1,0.88,412,0.00,2042,1,0.0,0.0
24,98,26984951769,1,878302,3,0.90,337,0.00,1937,1,0.0,0.0
25,98,26984951769,1,965138,2,3.00,337,-0.08,1937,1,0.0,0.0
26,98,26984951769,1,985911,1,1.25,337,-0.34,1937,1,0.0,0.0
27,98,26984951769,1,1082185,1,0.39,337,0.00,1937,1,0.0,0.0
28,98,26984951769,1,1087347,1,0.25,337,0.00,1937,1,0.0,0.0
29,1172,26985025264,1,877180,1,2.29,396,0.00,946,1,0.0,0.0
30,1172,26985025264,1,878664,1,2.00,396,-0.99,946,1,0.0,0.0
31,1172,26985025264,1,930917,2,2.00,396,-0.78,946,1,0.0,0.0
32,1172,26985025264,1,940796,1,3.59,396,0.00,946,1,0.0,0.0
33,1172,26985025264,1,981760,1,0.79,396,-0.60,946,1,0.0,0.0
34,1172,26985025264,1,999971,1,0.99,396,-0.30,946,1,0.0,0.0
35,1172,26985025264,1,1000493,1,4.44,396,-0.89,946,1,0.0,0.0
36,1172,26985025264,1,1045220,2,2.00,396,-0.78,946,1,0.0,0.0
37,1172,26985025264,1,1068719,1,1.49,396,-0.50,946,1,0.0,0.0
38,1172,26985025264,1,1073324,1,3.59,396,0.00,946,1,0.0,0.0
39,1172,26985025264,1,1075214,1,5.99,396,-3.00,946,1,0.0,0.0
40,1172,26985025264,1,1106523,1,1.50,396,0.00,946,1,0.0,0.0
41,1172,26985025264,1,1107553,1,1.00,396,-0.29,946,1,0.0,0.0
42,1172,26985025264,1,5569230,1,2.33,396,-2.26,946,1,0.0,0.0
43,1172,26985025264,1,5581335,1,3.79,396,-0.40,946,1,0.0,0.0
44,1172,26985025264,1,7167970,1,3.99,396,-1.00,946,1,0.0,0.0
45,1172,26985025264,1,8357687,1,3.00,396,-0.99,946,1,0.0,0.0
46,1060,26985040735,1,820162,1,1.79,315,0.00,1251,1,0.0,0.0
47,1060,26985040735,1,827656,1,3.75,315,0.00,1251,1,0.0,0.0
48,1060,26985040735,1,829617,1,1.49,315,-0.50,1251,1,0.0,0.0
49,1060,26985040735,1,833014,1,2.79,315,-0.20,1251,1,0.0,0.0

In [3]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

### Задание 1. Weighted Random Recommendation

Напишите код для случайных рекоммендаций, в которых вероятность рекомендовать товар прямо пропорциональна логарифму продаж
- Можно сэмплировать товары случайно, но пропорционально какому-либо весу
- Например, прямопропорционально популярности. Вес = log(sales_sum товара)

In [4]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [5]:
df = data.groupby('item_id')['sales_value'].sum().reset_index()
df[df['item_id'] == 25671]
df['weight'] = 0
np.seterr(divide = 'ignore') 
df.loc[(df.sales_value > 0), ('weight')] = abs(np.log(df['sales_value']))
df.drop('sales_value', axis=1, inplace=True)
df['weight']= df['weight']/ df['weight'].sum()

In [6]:
df.head()
# [df['sales_value'] == 0]

   item_id        weight
0    25671  1.293695e-05
1    26081  4.274660e-08
2    26093  1.972377e-06
3    26190  1.836479e-06
4    26355  2.905382e-06

In [7]:
df['weight'].sum()

1.0

In [8]:
def random_recommendation_weights(items, items_weights, n=5):
    """Случайные рекоммендации"""
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False, p = items_weights)
    
    return recs

In [9]:
def weighted_random_recommendation(items_weights, n=5):
    """Случайные рекоммендации
    
    Input
    -----
    items_weights: pd.DataFrame
        Датафрейм со столбцами item_id, weight. Сумма weight по всем товарам = 1
    """
    items = df.item_id
    recs = random_recommendation_weights(items, items_weights)
    # Подсказка: необходимо модифицировать функцию random_recommendation()
    # your_code
    
    
    return recs.tolist()

In [10]:
%%time


weights = df.weight
result['weight_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(weights, n=5))

result.head(2)
# your_code

CPU times: total: 2.33 s
Wall time: 2.33 s

,user_id,actual,weight_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[5567407, 1136431, 845530, 12131837, 931675]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1139023, 883306, 908181, 980943, 5582454]"

In [11]:
df.loc[df['item_id'] == 834547]

      item_id    weight
7418   834547  0.000015

## Задание 2. Улучшение бейзлайнов и ItemItem

- Попробуйте улучшить бейзлайны, считая случаный на топ-5000 товаров
- Попробуйте улучшить разные варианты ItemItemRecommender, выбирая число соседей $K$.

###  тут проблема. Не понятно почему рушится notebook при вызове моделей.

In [12]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [13]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [14]:
data_train.head(5)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [15]:
# Заведем фиктивный item_id (если юзер покупал товары из топ-5000, то он "купил" такой товар)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 6666
data_train.head(5)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [16]:
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix[user_item_matrix > 0] = 1 # так как в итоге хотим предсказать 

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix
sparse_user_item = csr_matrix(user_item_matrix)

In [17]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [ ]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей


model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)


recs = model.recommend(userid=userid_to_id[2],  # userid - id от 0 до N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, # кол-во рекомендаций 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=True)

  0%|          | 0/2499 [00:00<?, ?it/s]

In [ ]:
recs

In [ ]:
[id_to_itemid[rec[0]] for rec in recs]

In [ ]:
%%time

result['itemitem'] = result['user_id'].apply(lambda user_id: [id_to_itemid[rec[0]]  
                                                              for rec in model.recommend(userid=userid_to_id[user_id], 
                                                                user_items=sparse_user_item,   # на вход user-item matrix
                                                                N=5, 
                                                                filter_already_liked_items=False, 
                                                                filter_items=None, 
                                                                recalculate_user=True)
                                                                             ])

In [ ]:
result.head(10)

In [ ]:
%%time

model = CosineRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # на вход user-item matrix
                        N=5, 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=False)

In [ ]:
[id_to_itemid[rec[0]] for rec in recs]

In [ ]:
%%time

result['cosine'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])